.right-img {
  width: auto;
  height: 100%;
  /* background: url("https://i.imgur.com/DTWgusr.jpg") center center no-repeat; */
  /* background-size: cover; */
}

.left-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 15%;
  justify-content: center;
  background-color: white;
}

.contact-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  background-color: #f8f8f8;
}

.contact-text {
  font-size: 22px;
  align-items: center;
  display: flex;
  margin-bottom: 0;
}

.black-text {
  color: #000;
}

.icons {
  font-size: 2.2rem;
}

@media (max-width: 768px) {
  .icons {
    font-size: 1.2rem;
    width: 20px;
  }
  .download-container {
    margin-top: 5px;
  }
  .contact-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    overflow: hidden;
    background-color: #f8f8f8;
  }
  .contact-text {
    font-size: 18px;
  }
  .right-img {
    width: auto;
    height: 100%;
    z-index: 0;
    /* background: url("https://i.imgur.com/DTWgusr.jpg") center center no-repeat; */
    /* background-size: cover; */
  }
  .left-card {
    position: absolute;
    width: 100%;
    height: 50%;
    padding: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    justify-content: center;
  }
  .black-text {
    text-align: center;
    color: #000;
  }
}

.download-container a {
  color: #000;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  border: #000 solid 3px;
}

.download-container a:hover {
  color: #fff;
  background-color: #000;
}