.App {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  /* temporary */
  background-color: #333;
}

.bg-img {
  position: relative;
  width: 100%;
  height: 100%;
  background: url("https://imgur.com/ltiAppv.jpg") center center no-repeat;
  background-size: cover;
  z-index: 0;
}

.bg-img:after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: radial-gradient(rgba(0, 0, 0, 0), #000);
  opacity: 0.8;
  /* -webkit-animation: colorChange 20s linear 0s infinite;
  animation: colorChange 20s linear 0s infinite; */
}

.qr-image {
  width: 120px;
  height: 160px;
}

/* footer */

.footer-left {
  position: fixed;
  max-height: 50px;
  padding: 5px;
  /* padding-left: 20px; */
  width: 50%;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: row;
  padding-right: 0px;
  padding-left: 0px;
  background-image: linear-gradient( to top, rgba(22, 22, 22, 1), rgba(0, 0, 0, 0));
  /* background-color: rgba(22, 22, 22, 1); */
}

.footer-right {
  position: fixed;
  max-height: 50px;
  width: 50%;
  right: 0;
  padding: 5px;
  bottom: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  padding-right: 0px;
  padding-left: 0px;
  background-image: linear-gradient( to top, rgba(22, 22, 22, 1), rgba(0, 0, 0, 0));
  /* background-color: rgba(22, 22, 22, 1); */
}

@media (max-width: 769px) {
  .footer-right {
    position: absolute;
    max-height: 50px;
    width: 100%;
    text-align: center;
    display: flex;
    bottom: 0;
    align-items: flex-end;
    padding-right: 0px;
    justify-content: center;
    flex-direction: row;
  }
  .footer-left {
    visibility: hidden;
  }
}

.footer-text {
  color: white;
  font-size: 16px;
}

/* //typed css */

.typed-cursor {
  opacity: 1;
  animation: typedjsBlink 0.7s infinite;
  -webkit-animation: typedjsBlink 0.7s infinite;
  animation: typedjsBlink 0.7s infinite;
}

@keyframes typedjsBlink {
  50% {
    opacity: 0;
  }
}

@-webkit-keyframes typedjsBlink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.typed-fade-out {
  opacity: 0;
  transition: opacity 0.25s;
  -webkit-animation: 0;
  animation: 0;
}

.type-wrap {
  color: #fff;
  font-size: 50px;
  margin-top: 15px;
  word-wrap: break-word;
  font-family: "Special Elite", cursive;
}

@media (max-width: 767px) {
  .type-wrap {
    color: #fff;
    font-size: 2.2em;
    font-family: "Special Elite", cursive;
  }
}

/* //side div */

.left-div {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 5%;
  padding-right: 12%;
  padding-left: 4%;
  height: 100%;
  width: 70%;
}

@media (max-width: 767px) {
  .left-div {
    width: 100%;
    padding: 5px;
    flex-direction: column;
    padding-top: 0;
    min-height: 75vh;
    justify-content: space-between;
    text-align: center;
  }
  .resp-text {
    margin-top: 5px !important;
    font-size: 2.2em !important;
    align-self: center;
  }
  .res-div {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;
    background: radial-gradient(rgba(33, 33, 33, 0.1), rgba(0, 0, 0, 0));
  }
}

.right-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5%;
  padding-right: 2%;
  height: 100%;
  width: 40%;
}

.main-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.white-text {
  color: rgba(255, 255, 255, 0.8);
  margin: 0px;
  margin-top: 15px;
  font-size: 40px;
  /* text-transform: uppercase; */
}

.white-small {
  color: rgba(255, 255, 255, 0.8);
  margin: 0px;
  margin-top: 15px;
  font-size: 20px;
  /* text-transform: uppercase; */
}

.black-small {
  color: rgba(33, 33, 33, 0.8);
  margin: 20px;
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
  /* text-transform: uppercase; */
}

.ar-info {
  align-self: center;
  align-items: center;
  margin: 20;
  /* margin-right: 20px; */
}

.padding_20 {
  padding: 20 !important;
  margin: 20;
}
.test-card {
  background-color: red;
  align-self: center;
  height: 200px;
  width: 300px;
  align-items: center;
}

.white-back {
  color: gray;
  background-color: white;
  width: 3em;
}

/* //Button */

/* div[id^="big-button"] {
  font-size: 1.5em;
  color: #eee;
  border-bottom: 2px solid white;
  margin-bottom: 1em;
  box-sizing: border-box;
  justify-content: around;
} */

/* button {
  color: white;
  margin-top: 30px;
  font-size: 18px;
  background-color: #333;
  padding: 10px;
 padding: 0.2em 1em;
  width: 230px;
  font-weight: bold;
  border: 1.5px solid white;
  outline: none;
  border-radius: 35px;
} */

button {
  color: white;
  margin-top: 25px;
  font-size: 18px;
  background-color: #333;
  padding-top: 10px;
  padding-bottom: 10px;
  /* padding: 0.2em 1em; */
  width: 12rem;
  font-weight: bold;
  border: 1.5px solid white;
  outline: none;
  border-radius: 35px;
}

@media (max-width: 767px) {
  button {
    margin-top: 15px;
    /* margin-left: -5px; */
    align-self: center;
  }
}

button:hover {
  background-color: white;
  color: gray;
  cursor: pointer;
  border-radius: 35px;
}

.padding {
  padding-left: 15%;
  padding-right: 15%;
}

.right-padding {
  padding-right: 15%;
}

@media (max-width: 767px) {
  .right-padding {
    margin-top: 0;
    padding-right: 0%;
  }
}

.comments-container {
  background-color: #222;
  width: 50%;
  margin: 50px;
  margin-left: auto;
  margin-right: auto;
}

.comments-section {
  background-color: #222;
  width: 80%;
  margin: 50px;
  margin-left: auto;
  margin-right: auto;
}

/* --- disqus css -- */

.textarea-wrapper {
  color: orange !important;
}

/* //welcome text */

@media (max-width: 767px) {
  .welcome-text {
    font-size: 12px !important;
  }
}

/* //connect-text */

.connect-text {
  color: white;
  font-size: 16px;
  margin: 3px;
}

.heading {
  color: #000;
  font-size: 40px;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-color: #f8f8f8;
}

/* //slick */
.slick-card {
   z-index: 100; 
  background-color: red; 
  width: 100;
   height: 100}