.container-work {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  overflow-x: hidden;
}

.top-img-work {
  position: relative;
  z-index: 0;
  max-width: 100%;
  height: auto;
  margin-top: -2%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}

.bottom-card-work {
  position: absolute;
  top: 50%;
  width: 100%;
  height: auto;
  min-height: 100%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  justify-content: flex-start;
  padding: 5%;
  background-color: #fff;
  overflow: hidden;
}

.grid-card {
  float: left;
  width: 30%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin: 10px;
  background-color: #fff;
}

.grid-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.text-container {
  width: auto;
  padding: 4%;
  padding-top: 4%;
}

.project-image {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 100%;

}




.masonry-container {
  display: flex;
  padding: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 100%;
  flex-direction: column;
  background-color: #efefef;
}

/* //for the card */

.tag-container {
  display: flex;
  /* max-width: 90%; */
  flex-direction: row;
  /* float: left; */
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  min-width: 100%;
}

.tag {
  border-radius: 5px;
  background-color: #222;
  padding: 10px;
  font-size: 13px;
  cursor: pointer;
  color: white;
  margin: 3px;
  width: auto;
  /* flex-basis: 100%; */
}

.title {
  margin: 2px;
}

.sub-title {
  margin: 8px;
  /* font-size: 16px; */
  /* font-weight: 600; */
  color: #444
}

@media (max-width: 768px) {
  .top-img-work {
    position: relative;
    z-index: 0;
    width: auto;
    height: auto;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
  }
  .bottom-card-work {
    position: absolute;
    top: 30%;
    width: 100%;
    height: auto;
    min-height: 100%;
    /* margin-top: -10%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    justify-content: space-around;
    padding: 5%;
    background-color: #fff;
    overflow: hidden;
  }
  .grid-card {
    float: left;
    width: 90vw;
    height: auto;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    /* margin: 10px; */
    padding: 10px;
  }
  .masonry-container {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .my-gallery-class {
    padding: 0px !important;
  }
  .project-summary-container {
    height: 0px !important;
    visibility: hidden;
  }
}

.project-summary-container {
  height: auto;
  padding: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.project-summary-container p {
  font-size: 1.5em;
}

.column {
  display: flex;
  flex-direction: column;
}

.big-num {
  font-size: 5em;
  font-weight: 300;
  margin: 2px;
}