.container-work {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  overflow-x: hidden;
}

.top-img-work {
  position: relative;
  z-index: 0;
  max-width: 100%;
  height: auto;
  margin-top: -2%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}

.bottom-card-work {
  position: absolute;
  top: 50%;
  width: 100%;
  height: auto;
  min-height: 100%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  justify-content: flex-start;
  padding: 5%;
  background-color: #fff;
  overflow: hidden;
}

@media (max-width: 768px) {
  .top-img-work {
    position: relative;
    z-index: 0;
    width: auto;
    height: auto;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
  }

  .bottom-card-work {
    position: absolute;
    top: 30%;
    width: 100%;
    height: auto;
    min-height: 100%;
    /* margin-top: -10%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    
    z-index: 1;
    justify-content: space-around;
    padding: 5%;
    background-color: #fff;
    overflow: hidden;
  }
}
